/*========================== Stock===============*/

.stock-head{
    font-size: 50px !important;
    color: blue;
}

/*========================== stock end ====================*/

.content-bold{
    font-weight: 700 !important;
}
.fixwidth{
    max-height: 300px;
    overflow: scroll;
}
.hide-scroll::-webkit-scrollbar{
    display: none;

}
.center-loading{
    position: relative;
    height: 80vh;
}
.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.active{
    background-color: red;
    color: #fff;
}
/*========================== Quote  ====================*/
.quote-search{
    margin-bottom: 20px;
}
.tablehead{
    font-weight: 700 !important;
    font-size: 18px !important;
}
.react-link{
    text-decoration: none;
    background-color: blueviolet;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;

}