/*========================== Stock===============*/

.stock-head{
    font-size: 50px !important;
    color: blue;
}
.profile{
    max-width: 1000px;
    border-radius: 20px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 15px -3px rgba(227,180,56,0.81) !important;
    padding: 5% !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.namelink{
    text-decoration: none;
    color: rgb(255, 121, 4);
    font-weight: 700;
}
.namelink:active{
    color: rgb(255, 0, 115);
}
.namelink:hover{
    color: rgb(190, 79, 10);
}

.content-bold{
    font-weight: 700 !important;
}

.discription{
    margin-top: 15px !important;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border: 0.5px solid rgb(255, 128, 0);
    padding: 2%;
    border-radius: 10px;
}
.discription::-webkit-scrollbar {
    width: 10px;
}
.discription::-webkit-scrollbar-track {
    background: #fbe4c9; 
    border-radius: 20px;
} 
.discription::-webkit-scrollbar-thumb {
    background: rgb(244, 157, 28); 
    border-radius: 20px;
}
.discription::-webkit-scrollbar-thumb:hover {
    background: rgb(202, 105, 7); 
}

.fixwidth{
    max-height: 300px;
    overflow: scroll;
}
.hide-scroll::-webkit-scrollbar{
    display: none;

}
.center-loading{
    position: relative;
    height: 80vh;
}
.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.active{
    background-color: red;
    color: #fff;
}

.error-container{
    position: absolute;
   
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}
.error-container h4{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 15px 0px;
    background-color: rgb(0, 204, 255);
    color: rgb(255, 255, 255);
}
.errorimg{
    margin-top: 50px;
    max-width: 600px;
    height: auto;
}

/*========================== Quote  ====================*/
.quote-search{
    margin-bottom: 10px;
}

.react-link{
    text-decoration: none;
    background-color: blueviolet;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;

}
.qoute-container{
    width: 100%;
}

.toast{
    
   margin-top: 0px;
    width: 100%;
    height: 25px;
    z-index: 1;
}
.toast p{
    text-align: center;
    margin: 1px;
    background-color:rgb(240, 245, 98);
    
}

/*========================== History  ====================*/


.history-button{
    margin-top: 8px !important;
    display: block;
    justify-content: center;
    height: 40px;
    
    align-items: center;
}
.margintop10px{
    margin-top: 40px !important;
    width: 100%;
    
}
.history{
   
}
.table-flow{
    display: block;
    overflow: scroll;   
}


.fix-width {
   
	width: 100%;
    overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.show-stock{

    margin-bottom: 15px;
    text-align: center;
    background-color:aquamarine !important;
    height: 40px;
    
}
.show-stock p{
    padding: 5px;
   font-size: 20px;
}
.show-stock span{
    font-weight: 700;
   color: blue;
}


/*============== home ==============*/
.home{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    height: 85vh;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
}

.content-container{
    margin-top: 5%;
}
.img-grid{
    position: relative;

}
.home-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 4px rgba(21,25,180,0.5);

}
.content{
    display: block;
    margin-top: 8%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify !important;
}
/*============== Table style  ==============*/
.table{
    max-height: 440px;
    border-radius: 20px !important;
}
.table-paper{
    max-width: 1000px;
    border-radius: 20px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tableheader{
    font-weight: 700 !important;
    font-size: 18px !important;
    background-color: rgb(108, 228, 241) !important;
}
.table-container{
    position: relative;
}
.table-margin{
    margin-top: 30px !important;
}
.dense{
    margin-left: 20px;
    margin-bottom: 5px;
}

/*============== chart style  ==============*/

.chart-paper{
    margin-top: 20px;
    padding: 10px;
    max-width: 1000px;
    border-radius: 20px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 15px 2px rgba(151,151,242,0.81) !important;
}




/*============== Responsive ==============*/

@media screen and (max-width: 600px) {
    .fix-width {
        width: 340px;  
    }
  }